@media(max-width:767px){
    .section
 {
    .center {
    
        padding-left: 16px;
        padding-right: 16px;
        
        }
    &__wrapper{
        display: flex;
        align-items: center;
        height: 735px;
       padding-top: 217px;
       flex-direction: column;
    }
     &__title{
            
            font-size: 32px ;
            line-height: 39px ;
            height: 66px;
            text-align: center;
            padding-left:0%;
            
        }
        &__page{
            width: 343px;
            font-size: 14px;
            line-height: 22px;
           padding-left: 0%;
           padding-top: 33px;
          text-align: center;
            
        }
        
    }
    .pictures__wrapper {
        display: flex;
        flex-direction: column;
    }   
    .pictures{
        &__red{
            width: 342px;
        }
        &__yellow{
            width: 343px!important;
        }
        &__green{
            width: 343px!important; 
        }
    }   

        
}