@media(max-width:767px){
    .section
 {
    .center {
    
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
        
        }
     &__title{
            padding-top: 217px;
            font-size: 32px ;
            line-height: 39px ;
            height: 66px;
            width: 343px;
            
        }
        &__page{
          
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            
        }
        
    }
    .pictures__wrapper {
        display: flex;
        flex-direction: column;
    }   
    .pictures{
        &__red{
            width: 342px;
        }
        &__yellow{
            width: 343px!important;
        }
        &__green{
            width: 343px!important; 
        }
    }   

        
}