@media(max-width:767px){
    .section
 {
    .center {
    
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
        
        }
     &__title{
            font-size: 32px ;
            line-height: 39px ;
            height: 66px;
            
        }
        &__page{
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            
        }
        
    }
        
    .pictures{
        &__wrapper{
            display: flex;
            flex-direction: column!important;
        
            
        }
        &__red{
            width: 343px;
        }
        &__yellow{
            width: 343px;
        }
        &__green{
            width: 343px; 
        }
    }   

        
}