*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    font-family: 'Montserrat', sans-serif;
    }
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
    a{
    text-decoration: none;
    }
    *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    }
    .center {
    
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
    
    }
    
    .span{
    color: #FFFFFF;
    line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
    }
    .span:hover{
        color: #ffa000; /* Меняем цвет текста */
        -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
      }
    .section{
        height:1024px;
    background-image: url(img/cкайпро\ 2077.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        display: flex;
       flex-direction: column;
       justify-content: center;
      
    &__title{
    font-size: 64px;
    color: #FFFFFF;
    line-height: 78px;
    display: flex;
    width: 788.78px;
    
    }
    &__block{
        
            display: flex;
            flex-direction: column;
        
    }
    &__item{
        
    }
    &__page{
    color: darkgray;
    width: 481px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
    
    }
    &__button{
    background: #9C0332;
    border-radius: 30px;
    width: 234.06px;
    height: 48.6px;
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &-link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.3s;
    }
    &-link:hover{
        letter-spacing: 2px;
        color:yellow;
    }
    &__button:hover::before{
        opacity: 1;	
        transform: scale(1, 1);	
    }
    &__button:hover::after {
        opacity: 0;	
        transform: scale(0.1, 1);
    }
    }
    
    }
    .pictures{
    height: 556px;
    background-image: url(img/скайпро\ 2078.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .center-pictures{
        padding-left: calc(50% - 250px);
         padding-right: calc(50% - 250px);
    }
    &__wrapper{
    display: flex;
    gap: 32px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 128px;
    padding-bottom: 128px;
    }
    &__text{
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 32px;
    }
    &__red{
    height: 300px;
    width: 379px;
    border-radius: 16px;
    background-image: url(img/Rectangle\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    }
    &__red:hover{
        transform: rotateY(180deg);
    }
    &__yellow{
    height: 300px;
    width: 379px;
    border-radius: 16px;
    background-image: url(img/Rectangle\ 7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    }
    &__yellow:hover{
        transform: rotateY(180deg);
    }
    &__green{
    height: 300px;
    width: 379px;
    border-radius: 16px;
    background-image: url(img/Rectangle\ 8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    }
    &__green:hover{
        transform: rotateY(180deg);
    }
    }
    @import"mobile"; 